
.instructions {
	padding: 20px;
	border: 1px solid #990000;
	color: #990000;
	background: #f4f4f4;
	margin-bottom: 2em;
	border-radius: 10px;
	clear: both;
}
.instructions p, .instructions th, .instructions td, .instructions table, .instructions h2 {
	color: #990000;
}
pre {
	font-family: courier;
	overflow: scroll;
}
*[class^='optional-section-'],*[class*=' optional-section-'] {display: none;}
